@font-face { font-family: calibril; src: url('calibril.woff'); }

* {
  margin: 0;
}

html {
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "calibril", sans-serif;
  background-color: #ed473f;
  color: white;
  font-size: 1.5rem;
  min-height: 100vh;
  line-height: 1.4;
  text-align: center;
}

@media(max-width: 767px) {
  body {
    align-items: center; 
    font-size: 1rem; 
  }
}

.site-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 6rem; 
}

.site-content p + p {
  margin-top: 1rem;
}

.site-title {
  font-size: 1.5rem;
  font-weight: normal;
}

@media(max-width: 767px) {
  .site-title {
    font-size: 1rem; 
  }
}

.site-header {
  text-align: right;
  margin: 2rem;
}

@media(max-width: 767px) {
  .site-header {
    margin: 1rem; 
  }
}

.site-header svg {
  width: 180px;
  fill: #ffffff;
}

.container {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 27rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-footer {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .site-footer {
    font-size: 0.8rem;
  }
}

